@font-face {
  font-family: 'Galano Grotesque';
  font-style: normal;
  font-weight: 700;
  src: local('Galano Grotesque Bold'),
  url('./assets/fonts/GalanoGrotesque-Bold.eot'),
  url('./assets/fonts/GalanoGrotesque-Bold.woff2') format('woff2'),
  url('./assets/fonts/GalanoGrotesque-Bold.woff') format('woff'),
  url('./assets/fonts/GalanoGrotesque-Bold.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'Galano Grotesque';
  font-style: normal;
  font-weight: 600;
  src: local('Galano Grotesque Semi Bold'),
  url('./assets/fonts/GalanoGrotesque-SemiBold.eot'),
  url('./assets/fonts/GalanoGrotesque-SemiBold.woff2') format('woff2'),
  url('./assets/fonts/GalanoGrotesque-SemiBold.woff') format('woff'),
  url('./assets/fonts/GalanoGrotesque-SemiBold.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'Galano Grotesque';
  font-style: normal;
  font-weight: 400;
  src: local('Galano Grotesque Regular'),
  url('./assets/fonts/GalanoGrotesque-Regular.eot'),
  url('./assets/fonts/GalanoGrotesque-Regular.woff2') format('woff2'),
  url('./assets/fonts/GalanoGrotesque-Regular.woff') format('woff'),
  url('./assets/fonts/GalanoGrotesque-Regular.ttf') format('truetype');
  unicode-range: U+0020-007E;
}

html,
body {
  margin: 0;
  padding: 0;
}

.chatservice-floating-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  z-index: 99;
}
.upward-floating-btn {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 80px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  z-index: 99;
}

.pc {
  display: block;
}
.mobile {
  display: none;
}
.main-container {
  font-family: 'Galano Grotesque', 'Noto Sans KR', sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 99;
  border-bottom: 1px solid #ECECEC;
  padding: 43px 48px;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header .logo {
  margin-right: 82px;
  height: 34px;
  width: 110px;
}
.header .first-menu-group {
  display: flex;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.header .first-menu-group > div {
  margin-right: 25px;
}
.header .divider {
  width: 1px;
  height: 16px;
  background-color: #DDDDDD;
  margin-right: 25px;
}
.header .second-menu-group {
  display: flex;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.header .second-menu-group > div {
  color: #999999;
  margin-right: 25px;
}
.header .second-menu-group > div.active {
  color: #7732FF;
}
.header .icon-menu-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .icon-menu-group > div {
  width: 24px;
  height: 24px;
}
.header .icon-menu-group > div:not(:last-child) {
  margin-right: 40px;
}


.first-section {
  max-width: 1152px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 67px 52.5px 0 52.5px;
  flex-direction: row;
}
.first-section .title {
  font-weight: 700;
  line-height: 44.8px;
  font-size: 32px;
  text-align: left;
  margin-bottom: 10px;
  color: #7732ff;
}
.first-section .title > span {
  color: black;
}
.first-section .sub-title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}

.first-section .image-container {
  z-index: -1;
  background-image: url("https://trenbe.marketing/wp-content/uploads/2021/06/Ellipse-197.png");
  background-position: 12px 33px;
  background-repeat: no-repeat;
  width: 479px;
  height: 520px;
}

.first-section .image-container .forward-image {
  width: 336px;
  height: 520px;
}

.second-section {
  background-color: #7732ff;
  margin-top: -86px;
  width: 100%;
  z-index: 2;
}

.second-section .title {
  padding-top: 60px;
  margin-bottom: 40px;
  color: white;
  font-size: 29px;
  font-weight: 700;
  line-height: 40.6px;
  text-align: center;
}
.second-section .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 689px;
  align-items: center;
  margin: 0 auto;
}
.second-section .card-container .card-description {
  width: 158px;
  height: 160px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-section .card-description img {
  margin-bottom: 16px;
}
.second-section .card-description .sub-title {
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 5px;
}
.second-section .card-description div:last-child {
  font-size: 23px;
  line-height: 27.6px;
  font-weight: 700;
}
.second-section .standard-date {
  margin: 15px 0 60px;
  color: #cdb4ff;
  font-size: 13px;
  line-height: 15.6px;
  width: 100%;
  text-align: right;
}

.third-section .title {
  padding-top: 60px;
  margin-bottom: 60px;
  color: black;
  font-size: 29px;
  font-weight: 700;
  line-height: 40.6px;
  text-align: center;
}
.third-section .card-container {
  display: flex;
  flex-direction: row;
  max-width: 1152px;
  justify-content: space-between;
  margin: 0 auto 80px;
}
.third-section .card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-section .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.third-section .image-container img {
  position: absolute;
  top: -2px;
  margin-left: 3px;
}
.third-section .image-container.third img {
  position: absolute;
  top: -2px;
  margin-left: 12px;
}
.third-section .sub-title {
  margin-top: 28px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.third-section .description {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #777777;
}
.third-section .description span {
  color: #7732ff;
  font-weight: 700;
}
.third-section .more-link {
  text-decoration: none;
  color: #1585ec;
  font-size: 13px;
  line-height: 15.6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.third-section .more-link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 156px;
  border-bottom: 1px solid #1585ec;
}

.fourth-section {
  background-color: #f6f0ff;
}
.fourth-section .title {
  padding-top: 60px;
  margin-bottom: 15px;
  color: black;
  font-size: 29px;
  font-weight: 700;
  line-height: 40.6px;
  text-align: center;
}
.fourth-section .card-container {
  display: flex;
  flex-direction: row;
  max-width: 1085px;
  overflow: scroll;
  padding-bottom: 30px;
  margin: 0 auto;
  justify-content: center;
}
.fourth-section .card-container img {
  margin-right: -30px;
  width: 260px;
  height: 295px;
}
.fourth-section .card-container img:last-child {
  margin-right: 0;
}

.fifth-section {
  background-color: #ececec;
  padding-bottom: 40px;
}
.fifth-section .title {
  padding-top: 60px;
  margin-bottom: 15px;
  color: black;
  font-size: 29px;
  font-weight: 700;
  line-height: 40.6px;
  text-align: center;
}
.fifth-section .sub-title {
  margin-bottom: 10px;
  color: #777777;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
}
.fifth-section .card-container {
  margin: 0 auto;
  max-width: 996px;
}
.fifth-section .card-container img {
  width: 360px !important;
  margin-right: -30px;
}
.fifth-section .card-container img:last-child {
  margin-right: 0;
}
.slick-prev,
.slick-next {
  width: 38px !important;
  height: 38px !important;
  border-radius: 19px !important;
  color: white !important;
  background-color: rgba(55, 55, 55, 0.3) !important;
}
.slick-prev {
  left: -40px !important;
}
.slick-next {
  right: -40px !important;
}
.slick-next:before {
  content: "" !important;
  background-image: url('https://trenbe.marketing/wp-content/uploads/2021/06/arrow.png') !important;
  background-size: 23.5px 23.5px;
  display: inline-block;
  opacity: 1 !important;
  width: 23.5px !important;
  height: 23.5px !important;
  margin-right: -4px;
}
.slick-prev:before {
  content: "" !important;
  background-image: url('https://trenbe.marketing/wp-content/uploads/2021/06/default.png') !important;
  background-size: 23.5px 23.5px;
  display: inline-block;
  opacity: 1 !important;
  width: 23.5px !important;
  height: 23.5px !important;
  margin-left: -4px;
}

.lavender-circle {
  background-color: #e9ddff;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.text-system-color {
  color: #777777;
}
.background-primary-color {
  background-color: #7732ff;
}

.primary-button {
  display: inline-block;
  border-radius: 100px;
  background-color: #7732ff;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 14px 24px;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #DDDDDD;
}
footer .left-side {
  padding-top: 40px;
  padding-left: 12.5%;
  flex: 1;
  border-right: 1px solid #DDDDDD;
}
footer .left-side .mobile {
  display: none;
}
footer .left-side .pc > div:nth-child(1) {
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 700;
  color: #333333;
}
footer .left-side .pc > div:nth-child(2) {
  font-size: 28px;
  line-height: 37.8px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}
footer .left-side .pc > div:nth-child(3) {
  margin-bottom: 20px;
  display: flex;
}
footer .tel-contact {
  margin-right: 30px;
}
footer .tel-contact, footer .channel-contact {
  color: #555555;
  font-size: 13px;
  line-height: 15.6px;
}
footer .tel-contact > div:first-child, footer .channel-contact > div:first-child {
  font-weight: 700;
  margin-bottom: 5px;
}
footer .tel-contact > div:nth-child(2), footer .channel-contact > div:nth-child(2) {
  display: flex;
}
footer .tel-contact > div:nth-child(2) > div:first-child, footer .channel-contact > div:nth-child(2) > div:first-child {
  margin-right: 15px;
}
footer button {
  width: 244px;
  height: 40px;
  border: 1px solid #333333;
  color: #333333;
  font-size: 12px;
  line-height: 17.6px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
footer .right-side {
  width: 50%;
}
footer .right-side > div:nth-child(1) {
  display: flex;
  padding: 27px 64px;
  border-bottom: 1px solid #DDDDDD;
}
footer .right-side > div:nth-child(1) a {
  text-decoration: none;
  color: #4E4E53;
  font-size: 12px;
  line-height: 17.76px;
  letter-spacing: -0.05px;
  margin-right: 44px;
}
footer .right-side > div:nth-child(2) {
  padding-top: 26px;
  padding-left: 64px;
}
footer .sns-container {
  display: flex;
  margin-bottom: 24px;
}
footer .sns-container > a {
  display: flex;
  margin-right: 24px;
  text-decoration: none;
}
footer .info-container.pc {
  display: flex;
  font-size: 10px;
  line-height: 14.8px;
  letter-spacing: -0.05px;
  color: #4E4E53;
  margin-bottom: 13px;
}
footer .info-container.pc > div:first-child {
  margin-right: 12px;
}
footer .info-container.mobile {
  display: none;
}
footer .escrow {
  width: 169px;
  height: 40px;
  margin-bottom: 27px;
}

@media screen and (max-width: 1152px) {
  .first-section {
    max-width: calc(100% - 105px);
  }
  .third-section .card-container {
    max-width: calc(100% - 40px);
  }
  .slick-prev {
    left: 0 !important;
    z-index: 2;
  }
  .slick-next {
    right: 0 !important;
    z-index: 2;
  }
}
@media screen and (max-width: 768px) {
  .first-section {
    max-width: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    flex-direction: column;
    align-items: center;
  }
  .first-section .text-container {
    margin-bottom: 68px;
    text-align: center;
  }
  .first-section .image-container {
    background-position: 10px 29px;
    width: 416px;
    max-width: calc(100% - 18px);
    margin-left: 18px;
    height: 452px;
  }
  .first-section .image-container .forward-image {
    width: 292px;
    height: 452px;
  }
  .first-section .title {
    line-height: 39.2px;
    font-size: 28px;
    text-align: center;
  }
  .first-section .sub-title {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  .second-section {
    margin-top: -83px;
    width: 100%;
    z-index: 2;
  }
  .second-section .title {
    padding-top: 50px;
    font-size: 25px;
    line-height: 35px;
  }
  .second-section .card-container {
    width: calc(100% - 40px);
    align-items: center;
    padding: 0 20px;
  }
  .second-section .card-container .card-description {
    margin-bottom: 19px;
    max-width: calc((100% - 15px) / 2);
    width: 100%;
  }
  .second-section .standard-date {
    margin: -4px 0 50px;
  }
  .third-section .card-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto 70px;
  }
  .third-section .card-description {
    margin-bottom: 110px;
  }
  .fifth-section .card-container {
    max-width: 100%;
  }
  .slick-dots {
    bottom: 50px !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
  .slick-dots li {
    margin: 0 !important;
  }
  .slick-dots li.slick-active button:before {
    color: #7732ff !important;
    opacity: 1 !important;
  }
  .slick-dots li button:before {
    color: #d8c8f0 !important;
    opacity: 1 !important;
  }
  .slick-prev {
    left: 20px !important;
    z-index: 2;
  }
  .slick-next {
    right: 20px !important;
    z-index: 2;
  }
  .header {
    display: flex;
    align-items: center;
    border-bottom: none;
    padding: 22px 20px;
  }
  .header a {
    text-decoration: none;
    color: inherit;
  }
  .header .logo {
    margin-right: 0;
    height: 15;
    width: 83px;
  }
  .header .first-menu-group {
    display: none;
  }
  .header .divider {
    display: none;
  }
  .header .second-menu-group {
    display: none;
  }
  .header .icon-menu-group {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .left-side {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #DDDDDD;
    border-right: none;
  }
  footer .left-side .pc {
    display: none;
  }
  footer .left-side .mobile {
    display: flex;
  }
  footer .left-side .mobile > div:nth-child(1) {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    width: 108px;
  }
  footer .left-side .mobile > div:nth-child(2) {
    flex: 1;
  }
  footer .left-side .mobile > div:nth-child(2) > div:nth-child(1) {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 11px;
  }
  footer .tel-contact {
    margin-right: 0;
    margin-bottom: 10px;
  }
  footer .tel-contact > div:first-child, footer .channel-contact > div:first-child {
    margin-bottom: 4px;
  }
  footer .tel-contact > div:nth-child(2) > div:first-child, footer .channel-contact > div:nth-child(2) > div:first-child {
    margin-right: 21px;
  }
  footer button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 41px;
  }
  footer .right-side {
    width: 100%;
  }
  footer .right-side > div:nth-child(1) {
    display: flex;
    padding: 16px 20px 0 20px;
    border-bottom: none;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  footer .right-side > div:nth-child(1) a {
    text-decoration: none;
    font-size: 10px;
    line-height: 14.8px;
    margin-right: 0;
  }
  footer .right-side > div:nth-child(2) {
    padding-top: 0;
    padding-left: 20px;
  }
  footer .sns-container {
    margin-bottom: 28px;
  }
  footer .sns-container > a {
    margin-right: 28px;
  }
  footer .info-container.pc {
    display: none;
  }
  footer .info-container.mobile {
    display: flex;
    font-size: 10px;
    line-height: 14.8px;
    letter-spacing: -0.05px;
    color: #616167;
    margin-bottom: 16px;
  }
  footer .escrow {
    width: 153px;
    height: 36px;
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 480px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .main-container {
    max-width: 100%;
  }

  .first-section {
    max-width: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    flex-direction: column;
    align-items: center;
  }
  .first-section .text-container {
    margin-bottom: 68px;
    text-align: center;
  }
  .first-section .image-container {
    background-position: 10px 29px;
    width: 416px;
    max-width: calc(100% - 18px);
    margin-left: 18px;
    height: 452px;
  }
  .first-section .image-container .forward-image {
    width: 292px;
    height: 452px;
  }
  .first-section .title {
    line-height: 39.2px;
    font-size: 28px;
    text-align: center;
  }
  .first-section .sub-title {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  .second-section {
    margin-top: -83px;
    width: 100%;
    z-index: 2;
  }
  .second-section .title {
    padding-top: 50px;
    font-size: 25px;
    line-height: 35px;
  }
  .second-section .card-container {
    width: calc(100% - 40px);
    align-items: center;
    padding: 0 20px;
  }
  .second-section .card-container .card-description {
    margin-bottom: 19px;
    max-width: calc((100% - 15px) / 2);
    width: 100%;
  }
  .second-section .standard-date {
    margin: -4px 0 50px;
  }

  .third-section .title {
    padding-top: 50px;
    font-size: 25px;
    line-height: 35px;
  }
  .third-section .card-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto 70px;
  }
  .third-section .card-description {
    margin-bottom: 110px;
  }
  .third-section .card-description:last-child {
    margin-bottom: 0;
  }

  .fourth-section .card-container {
    display: block;
    max-width: 1085px;
    overflow: auto;
    padding-bottom: 70px;
  }
  .fourth-section .title {
    font-size: 25px;
    line-height: 35px;
  }

  .fifth-section .title {
    padding-top: 50px;
    font-size: 25px;
    line-height: 30px;
  }
  .fifth-section .sub-title {
    font-size: 15px;
    line-height: 21px;
  }
  .fifth-section .card-container {
    max-width: 100%;
  }
  .fifth-section .card-container img {
    margin-right: -45px;
  }
  .slick-dots {
    bottom: 50px !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
  .slick-dots li {
    margin: 0 !important;
  }
  .slick-dots li.slick-active button:before {
    color: #7732ff !important;
    opacity: 1 !important;
  }
  .slick-dots li button:before {
    color: #d8c8f0 !important;
    opacity: 1 !important;
  }
  .slick-prev {
    left: 20px !important;
    z-index: 2;
  }
  .slick-next {
    right: 20px !important;
    z-index: 2;
  }
  .floating-container {
    width: 100%;
    outline: none;
    border: 1px solid black;
    position: sticky;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 30px 0 55px 0;
    z-index: 3;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    cursor: pointer;
    text-align: center;
  }
  .floating-container:hover {
    background-color: white;
    color: #7732ff;
    border: 1px solid #7732ff;
  }
  .floating-container:focus {
    color: white;
    background-color: #7732ff;
    border: 1px solid #7732ff;
  }
  .floating-container:disabled {
    color: white;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    cursor: default;
  }
  .floating-container img {
    margin-left: 7px;
  }
  .chatservice-floating-btn {
    right: 20px;
    bottom: 122px;
  }
  .upward-floating-btn {
    right: 20px;
    bottom: 158px;
    cursor: pointer;
  }
}
